<div class="no-files">
    <img src="/images/folder-hidden.svg" alt="No files" class="no-files-icon" height="40" width="40">
    <h1 class="no-file-header">No files yet</h1>
    <p class="no-file-text">Start by uploading a file or creating a folder.</p>
    <div class="no-file-actions">
        <a href="<%= locals.folder ? `/folder/${folder.id}/upload-file` : '/upload-file' %>" class="action-btn">Upload File</a>
        <a href="<%= locals.folder ? `/folder/create/${folder.id}` : '/create-folder' %>" class="action-btn">New Folder</a>
    </div>
</div>