<div class="list-all">
    <div class="details">
        <div>
            <p>Name</p>
        </div>
        <div class="end-detail">
            <p>File size</p>
            <img src="/images/dots-vertical.svg" height="20" width="20">
        </div>
    </div>
    <div class="folders">
        <% if (locals.folders) { %>
            <% folders.forEach(folder => { %>
                <%- include("../partials/folder", { folder: folder }) %>
            <% }) %>
        <% } %>
    </div>
    
    <div class="files">
        <% if (locals.files) { %>
            <% files.forEach(file => { %>
                <%- include("../partials/file", { file: file }) %>
            <% }) %>
        <% } %>
    </div>
</div>
