<html>
    <head>
        <title>Upload file</title>
    </head>
    <body>
        <form action="/upload-file" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <input type="file" class="form-control-file" name="uploaded_file">
              <button type="submit">Submit</button>
            </div>
          </form>
    </body>
</html>