<html>
    <head>
        <meta charset="UTF-8">
        <title>Log In</title>
    </head>
    <body>
        <% if (locals.user) { %>
            <h1>Hello world</h1>
        <% } else { %>
            <%- include('login') %>
        <% } %>
    </body>
</html>