body {
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.folder {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.file {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.folder > div:nth-child(2) {
    display: flex;
    gap: 10px;
}

.list-all {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 1000px;
}