body {
    margin: 0px;
    padding: 0px;
    background-color: #f9f8f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Middle */
#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 20px;
}

/* All files */
.list-all {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
}

/* Details */
.details {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
}

.end-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}