body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Middle */
#middle {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 85vh;
    margin-top: 20px;
}

/* All files */
.list-all {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: clamp(1000px, 80vw, 1600px);
    height: 95%;
    background-color: white;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Details */
.details {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
}

.details > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.end-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.folder-name {
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 1rem;
    padding: 5px;
    font-weight: 500;
    text-align: center;
}

.add-btn {
    background-color: #F0F4F8;
    padding: 5px;
    border-radius: 50%;
}

.add-btn:hover {
    background-color: #d7dee4;
}