<html>
    <head>
        <meta charset="UTF-8">
        <title><%= folder ? "Edit Folder" : "Create Folder" %></title>
        <link rel="stylesheet" href="/css/folderForm.css">
    </head>
    <body>
        <form action="<%= folder ? `/edit/${folder.id}` : '/create-folder' %>" method="post">
            <div class="folder">
                <label for="folder_name">Folder Name:</label>
                <input 
                    type="text" 
                    name="folder_name" 
                    id="folder_name"
                    value="<%= folder ? folder.title : ' ' %>"
                >
            </div>
            <button type="submit">Submit</button>
            <a href="/">Back</a>
          </form>
    </body>
</html>